
@{
    ViewData["Title"] = "Help";
}

<h1>Помош при користење на системот</h1>
<hr />
<h2>Пребарување на информации од некоја тема од менталното здравје</h2>

<img style="height:600px;width:750px;" src="~/help_photos/Screenshot (202).png" />
<p>
    Доколку сакате да пребарувате информации од темата Вознемиреност, одете на dropdown листата и селектирате го "Вознемиреност".
    Потоа, ќе ви се појави следниот екран.<br />
    <img style="height:600px;width:750px;" src="~/help_photos/Screenshot (203)_LI.jpg" />
    <br />
    Доколку сакате да го прочитате некој артикал, селектирајте го копчето "Прочитај Повеќе".
</p>

<hr />

<h2>Додавање на дискусија и/или коментар</h2>

<img style="height:600px;width:750px;" src="~/help_photos/Screenshot (205).png" />
<p>
    Доколку сакате да читате дискусии и да контактирате со други корисници, во менито селектирајте го копчето "Форум".
    Потоа, ќе ви се појави следниот екран.<br />
    <img style="height:600px;width:750px;" src="~/help_photos/Screenshot (206)_LI.jpg" />
    <br />
    Доколку сакате да додадете дискусија кликнете го копчето "Додади дискусија/topic" кое е означено со 1.
    Доколку сакате да додадете коментар на дадена дискусија кликнете го копчето "Додади коментар" кое е означено со 2.
</p>

<hr />

<h2>Контакт со стручно лице</h2>

<img style="height:600px;width:750px;" src="~/help_photos/Screenshot (208).png"/>
<p>
    Доколку сакате да контактирате со стручно лице во менито селектирајте го копчето "Контакт со стручни лица".
    За да го контактирате со избраното стручно лице кликнете го копчето "Контактирај" до нив.
    Потоа, ќе ви се појави следниот екран, каде што може да комуницирате со стручното лице.<br />
    <img style="height:600px;width:750px;" src="~/help_photos/Screenshot (210).png" />
    <br />

</p>

<hr />