@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://pbs.twimg.com/media/EeuPibZXgAABQym.png" style="height:400px;width:fit-content;" />
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <h2>What is Mental Wellbeing?</h2>
            <p>
                Your mental wellbeing is about your thoughts and feelings and how you cope with the ups and downs of everyday life.
                It's not the same thing as mental health, although the two can influence each other. Long periods of low mental wellbeing can lead to the development of diagnosable mental health conditions such as anxiety or depression. If you're living with a mental health condition, you may experience low mental wellbeing more often, but there will also be long periods where you're able to maintain good mental wellbeing.
            </p>
        </div>
        <div class="col-4">
            <img style="height:200px;width:350px;" src="https://www.zakariamasjid.org.uk/wp-content/uploads/2020/04/improve-mental-wellbeing-at-work-_2640x1980_acf_cropped-1440x1080.jpg" />
        </div>
    </div>
</div>
